<div class="container" ng-controller="pg1Ctrl">

    <div class="row" style="position: absolute;top:200px; left:20%">
        <div >
            <div class="input-group col-md-9">
                <input type="text"  ng-model="search" class="  search-query form-control" placeholder="Search" required />
                                <span class="input-group-btn">
                                    <button ng-click="searchMe()" class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
            </div>
        </div>
    </div>

<div style="position: relative;top:200px; left:30%">
                <button class="btn btn-default btn-lg" ng-if="down"><i class="fa fa-spinner fa-spin"></i> Processing -> grayscaling and compressing </button>



</div>
</div>
